    <a href="/flat" class="link-back" aria-label="back to flat overview">
        <svg width="48" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><defs><style>.b{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><path class="b" d="m15,8H1m0,0l7,7M1,8L8,1"/>
        </svg>
    </a>
<section class="header-flat-details">
    <div aria-hidden="true" class="flat-icon">
        <span>🧼</span>
    </div>
    <div class="text">
        <h1>
            <span class="supline">Current flat:</span>
            {{flat.name}}
        </h1>
        {{#if userIsAdmin}}
            <button class="toggle-edit-mode" aria-label="Edit flat">
                Edit flat
            </button>
        {{/if}}
    </div>
</section>
<section>
    {{#if flat}}
        <form class="edit-mode-show" action="/flat/{{flat._id}}/update" method="post">
            <h2>New flatname:</h2>
            <input type="text" name="name" value="{{flat.name}}" required>
            <button>Update flatname</button>
        </form>
        <form class="edit-mode-show delete-flat" action="/flat/{{flat._id}}/delete" method="post">
            <button type="submit" class="btn btn-primary btn-delete-flat">delete flat</button>
        </form>
    {{else}}
        <p>You are currently in no flat</p>
    {{/if}}
</section>
{{#if flat}}
<section class="edit-mode-show">
    <form action="/flat/{{flat._id}}/update/owner/{{userFromSession.id}}" method="post">
        <h2>Assign new flat admin:</h2>
        <select name="flatMembers" required>
            <option value="placeholder" disabled selected hidden>select person</option>
            {{#each flat.users}}
                <option value="{{id}}">
                    {{username}}
                </option>
            {{/each}}
        </select>
        <button type="submit" class="btn">update admin</button>
    </form>
</section>
{{/if}}
<section>
    <h2>Flatmates</h2>
        <ul class="list-flatmates unstyled">
           {{#each flat.users}}
                <li class="{{#ifequal id ../flat.owner}}admin{{/ifequal}} {{#ifequal id ../userFromSession.id}}current-user{{/ifequal}}">
                    <figure class="user">
                        {{#if ImgUrl}}
                            <img src="{{ImgUrl}}" alt="{{username}}" />
                        {{else}}
                            <img src="/images/sad-puppy.jpg" alt="{{username}}" />
                        {{/if}}
                        <figcaption class="name">{{username}}</figcaption>
                    </figure>
                    {{#ifnotequal id ../flat.owner}}
                        <form class="edit-mode-show delete-flatmate" action="/flat/{{../flat._id}}/user/{{_id}}/delete" method="post">
                            <button type="submit" class="btn btn-delete-flatmate">delete flatmate</button>
                        </form>
                    {{/ifnotequal}}
                </li>
            {{/each}}
            <li class="edit-mode-show"><a href="/flat/{{flat._id}}/add-flatmate" class="btn btn-add-flatmate">add flatmate</a></li>
        </ul>
</section>
<section>
    <h2>This week’s tasks</h2>
    {{#if updatedTasks}}
        <div class="card">
            {{#if hasOverdueTasks}}
                <div class="text">
                    <p>
                        <strong style="text-transform: uppercase">{{userFromSession.name}}!</strong> ☝️
                    </p>
                    <p>
                        It’s the weekend and you haven’t completed your tasks yet (we’re not angry, we’re just disappointed).
                    </p>
                    <p>
                        But please do it soon or this baby animal is going to be very sad:
                    </p>
                </div>
                <img src="/images/sad-kitten.jpg" width="185" height="185" />
            {{else}}
                <div class="text">
                    <p>
                        Hey {{userFromSession.name}},
                    </p>
                    <p>
                        great job this week – you’re not behind on any tasks (yet). How about some fun reading then?
                    </p>
                    <p>
                        These <a href="https://www.mollymaid.com/practically-spotless/2016/march/ultimate-q-tips-cleaning-tips/">5 great cleaning tipps involving Q-tips</a><br>
                        will blow your mind, we promise!<br>
                        Let that flat sparkle! ✨
                    </p>
                </div>
                <img src="/images/thumbsup.jpg" width="220" height="220" />
            {{/if}}
        </div>
        <ul class="list-tasks">
            {{#each updatedTasks}}
                <li {{#if isOwner}}class="current-user"{{/if}}>
                    <figure class="user">
                        {{#if user.ImgUrl}}
                            <img src="{{user.ImgUrl}}" alt="{{username}}" />
                        {{else}}
                            <img src="/images/sad-mini-pig.jpg" alt="{{username}}" />
                        {{/if}}
                        <figcaption class="name">{{this.user.username}}</figcaption>
                    </figure>
                    <p class="task">
                        <strong>{{this.name}}</strong><br>
                        <small>{{this.description}}</small>
                     </p>
                    <form class="edit-mode-show delete-task" action="/flat/{{../flat._id}}/task/{{_id}}/delete" method="post">
                        <button type="submit" class="btn btn-primary">delete task</button>
                    </form>
                    <div class="status">
                        {{#if isOwner}}
                                <form action="/flat/{{../flat._id}}/task/{{_id}}/update" method="post">
                                {{#if this.isDone}}
                                    <button class="btn btn-update-task btn-tertiary">Done ✅</button>
                                {{else}}
                                    <button class="btn btn-update-task">undone 🔲</button>
                                {{/if}}
                            </form>
                        {{else}}
                            {{#if this.isDone}}
                                <div class="task-status status-done">✅</div>
                            {{else}}
                                <div class="task-status status-undone">🔲</div>
                            {{/if}}
                        {{/if}}
                    </div>
                </li>
            {{/each}} 
        </ul>
    {{else}}
        <p>No tasks yet.</p>
    {{/if}}
</section>
<section class="add-task">
    <h2>Add task</h2>
    <form action="/flat/{{flat._id}}" method="post">
        <input type="text" name="taskname" value="" placeholder="Name" required>
        <input type="text" name="taskdescription" value="" placeholder="Description">
        <select name="taskuser" required>
            <option value="{{flat.owner._id}}" selected hidden>assign to flatmate</option>
            {{#each flat.users}}
                <option value="{{id}}">{{username}}</option>
            {{/each}}
        </select>
        <button>add task</button>
    </form>
</section>